# Import Packages

In [9]:
# Import packages
import random
import math
import warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.utils import resample
from scipy.stats import beta, f_oneway, kruskal, ttest_ind, chi2_contingency

pd.set_option("display.max_columns", None)
warnings.filterwarnings("ignore")

In [2]:
metadata_dataset = pd.read_csv("metadata_dataset.csv")
metadata_dataset

,protected,verified,location,followers_count,following_count,tweet_count,listed_count,has_profile_image,isBot,un_no_of_char,un_special_char,name_no_of_char,name_special_char,des_no_of_usertags,des_no_of_hashtags,des_external_links,has_description,has_url
0,0,0,1,1959,2708,405158,157,1,0,6,0,12,0,0,0,0,1,1
1,0,0,0,371,0,33172,10,1,0,13,0,14,0,0,0,0,1,1
2,0,0,0,36,0,548,0,1,1,13,1,16,0,0,0,0,1,0
3,0,0,1,30,148,93,1,1,1,12,0,12,0,0,0,0,1,1
4,0,0,1,1089,2283,9098,34,1,0,10,0,14,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20284,0,0,1,72,76,4161,1,1,0,11,0,12,0,0,0,0,0,0
20285,0,0,0,314,107,20915,9,1,0,13,1,14,0,0,0,1,1,1
20286,0,0,1,2981,2523,4991,46,1,0,14,0,16,0,0,3,1,1,1
20287,0,0,0,170,180,7820,4,1,0,11,0,12,0,0,0,0,1,0
20288,0,0,1,971,319,64923,21,1,0,13,0,7,0,0,0,0,1,1

In [3]:
features_dataset = metadata_dataset[["protected", "verified", "followers_count", "following_count", "tweet_count", "listed_count", "isBot"]]
features_dataset

,protected,verified,followers_count,following_count,tweet_count,listed_count,isBot
0,0,0,1959,2708,405158,157,0
1,0,0,371,0,33172,10,0
2,0,0,36,0,548,0,1
3,0,0,30,148,93,1,1
4,0,0,1089,2283,9098,34,0
...,...,...,...,...,...,...,...
20284,0,0,72,76,4161,1,0
20285,0,0,314,107,20915,9,0
20286,0,0,2981,2523,4991,46,0
20287,0,0,170,180,7820,4,0
20288,0,0,971,319,64923,21,0

# T-test

In [4]:
bot_followers_count = list(features_dataset[features_dataset['isBot'] == 1]['followers_count'])
human_followers_count = list(features_dataset[features_dataset['isBot'] == 0]['followers_count'])
#test for equal variance


ttest_ind(bot_followers_count, human_followers_count, equal_var=False)

Ttest_indResult(statistic=0.9981029084765294, pvalue=0.31824519233807225)

In [5]:
bot_following_count = list(features_dataset[features_dataset['isBot'] == 1]['following_count'])
human_following_count = list(features_dataset[features_dataset['isBot'] == 0]['following_count'])

ttest_ind(bot_following_count, human_following_count, equal_var = False)

Ttest_indResult(statistic=7.220733974821696, pvalue=5.838939625997833e-13)

In [6]:
bot_tweet_count = list(features_dataset[features_dataset['isBot'] == 1]['tweet_count'])
human_tweet_count = list(features_dataset[features_dataset['isBot'] == 0]['tweet_count'])

ttest_ind(bot_tweet_count, human_tweet_count, equal_var = False)

Ttest_indResult(statistic=-2.6840191613044375, pvalue=0.0072906287871792146)

# Chi-sq test

In [7]:
bot_human_contigency = pd.crosstab(features_dataset['isBot'], features_dataset['protected'])

In [10]:
#The first is chisq statistic, second is p val third is dof of test fourth is expected values
chi2_contingency(bot_human_contigency)

(931.8815203387962,
 1.1515793792513473e-204,
 1,
 array([[12899.3007541,  1789.6992459],
        [ 4917.6992459,   682.3007541]]))

In [11]:
bot_human_contingency_verified = pd.crosstab(features_dataset['isBot'], features_dataset['verified'])

In [14]:
bot_human_contingency_verified

verified      0    1
isBot
0         13934  755
1          5284  316

In [13]:
#The first is chisq statistic, second is p val third is dof of test fourth is expected values
chi2_contingency(bot_human_contingency_verified)

(1.9518251974965153,
 0.16239030401669147,
 1,
 array([[13913.60845779,   775.39154221],
        [ 5304.39154221,   295.60845779]]))

# Review and delete
bot_verified = list(features_dataset[features_dataset['isBot'] == 1]['verified'])
human_verified = list(features_dataset[features_dataset['isBot'] == 0]['verified'])

ttest_ind(bot_verified, human_verified)



bot_protected = list(features_dataset[features_dataset['isBot'] == 1]['protected'])
human_protected = list(features_dataset[features_dataset['isBot'] == 0]['protected'])

ttest_ind(bot_protected, human_protected)